development:
  adapter: postgresql
  encoding: unicode
  database: rails-upgrade-checklist_development
  pool: 5
  username: rails-upgrade-checklist
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: rails-upgrade-checklist_test
  pool: 5
  username: rails-upgrade-checklist
  password:
