<div class="row">
  <div class="span12">
    <div class="attribution">
      <h2>Hi There!</h2>
      Created by <a href="http://jessewolgamott.com">Jesse Wolgamott</a>
      for the awesome people of the world.
      <h5>License</h5>
      Except otherwise noted, this checklist is © 2013-<%=Date.today.year %> Jesse Wolgamott, under a Creative Commons Attribution-ShareAlike license: <a href="http://creativecommons.org/licenses/by-sa/3.0/">http://creativecommons.org/licenses/by-sa/3.0/</a>
      <h5>Updates and improvements:</h5>
      <a href="https://github.com/jwo/rails-upgrade_checklist">On GitHub</a>
    </div>
  </div>
</div>
