<div class="row">
  <div class="span4 ">
    <div class="attribution">
      <h2>Hi There!</h2>
      Created by <a href="http://jessewolgamott.com">Jesse Wolgamott</a>
      for the awesome people of the world.
      <h5>License</h5>
      Except otherwise noted, this checklist is © 2013 Jesse Wolgamott, under a Creative Commons Attribution-ShareAlike license: <a href="Except otherwise noted, this report is © 2009 Greg Grossmeier, under a Creative Commons Attribution-ShareAlike license: http://creativecommons.org/licenses/by-sa/3.0/.">http://creativecommons.org/licenses/by-sa/3.0/</a>
      <h5>Updates and improvements:</h5>
      GitHub link here
    </div>
  </div>
  <div class="span6">
    <%= render partial: 'layouts/signup' %>
  </div>
</div>
